In [1]:
import calendar

In [13]:
print(calendar.calendar(2012,2,1,6)) #year, width of characters, nummber of lines taken by a week, 
#gap seperating month boundaries
# We can also write calendar.prcal(2012,2,1,6)

                                  2012

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                   1             1  2  3  4  5                1  2  3  4
 2  3  4  5  6  7  8       6  7  8  9 10 11 12       5  6  7  8  9 10 11
 9 10 11 12 13 14 15      13 14 15 16 17 18 19      12 13 14 15 16 17 18
16 17 18 19 20 21 22      20 21 22 23 24 25 26      19 20 21 22 23 24 25
23 24 25 26 27 28 29      27 28 29                  26 27 28 29 30 31
30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                   1          1  2  3  4  5  6                   1  2  3
 2  3  4  5  6  7  8       7  8  9 10 11 12 13       4  5  6  7  8  9 10
 9 10 11 12 13 14 15      14 15 16 17 18 19 20      11 12 13 14 15 16 17
16 17 18 19 20 21 22      21 22 23 24 25 26 27      18 19 20 21 22 23 24
23 24 25 26 27 28 29      28 29 30 31               25 26 27 28 29 30
30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                   1             1  2  3  4  5                      1  2
 2  3  4  5  6  7  8       6  7  8  9 10 11 12       3  4  5  6  7  8  9
 9 10 11 12 13 14 15      13 14 15 16 17 18 19      10 11 12 13 14 15 16
16 17 18 19 20 21 22      20 21 22 23 24 25 26      17 18 19 20 21 22 23
23 24 25 26 27 28 29      27 28 29 30 31            24 25 26 27 28 29 30
30 31

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7                1  2  3  4                      1  2
 8  9 10 11 12 13 14       5  6  7  8  9 10 11       3  4  5  6  7  8  9
15 16 17 18 19 20 21      12 13 14 15 16 17 18      10 11 12 13 14 15 16
22 23 24 25 26 27 28      19 20 21 22 23 24 25      17 18 19 20 21 22 23
29 30 31                  26 27 28 29 30            24 25 26 27 28 29 30
                                                    31

In [14]:
calendar.isleap(2008)

True

In [21]:
calendar.leapdays(1950,2000)

12

In [23]:
print(calendar.month(2012,5,2,1)) #year, month, width of character, number of lines taken by a week

      May 2012
Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30 31

In [26]:
calendar.monthrange(2020,2) #year , month : returns start month day(0-monday, 6-sunday)

(5, 29)

In [27]:
calendar.weekday(1997,4,25) # 25 April 1997 was friday

4

In [28]:
import time

In [30]:
time.time()

1582022885.1667192

In [31]:
time.gmtime()

time.struct_time(tm_year=2020, tm_mon=2, tm_mday=18, tm_hour=10, tm_min=48, tm_sec=45, tm_wday=1, tm_yday=49, tm_isdst=0)

In [34]:
t = time.gmtime()

In [35]:
time.asctime(t)

'Tue Feb 18 10:51:22 2020'

In [38]:
time.ctime() #time.ctime(x) gives computed time after x secs have elaplsed 
#from epoch time 1 Jan 1970 12:00 am

'Tue Feb 18 16:25:34 2020'

In [39]:
time.sleep(4) #Halts prrogram execution for 4 secs

In [40]:
import datetime

In [42]:
from datetime import date

In [43]:
datetime.MINYEAR #min year that can be represented

1

In [44]:
datetime.MAXYEAR #max year that can be represented

9999

In [47]:
print(datetime.date(1995,4,25))

1995-04-25

In [48]:
date.today()

datetime.date(2020, 2, 18)

In [49]:
date.min

datetime.date(1, 1, 1)

In [50]:
date.max

datetime.date(9999, 12, 31)